[Unit]
Description=计时器应用服务
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=__INSTALL_PATH__
ExecStart=/bin/bash -c "while true; do __INSTALL_PATH__/jsq > /dev/null; sleep 60; done"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
