[Unit]
Description=计时器应用服务
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=__INSTALL_PATH__
ExecStart=/usr/bin/python3 __INSTALL_PATH__/main.py indicator
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/$(USER)/.Xauthority

[Install]
WantedBy=multi-user.target
